table {
    margin-left : auto;
    margin-right: auto;
}

#職業選擇,
#主要表 {
    vertical-align: top;
    font-size     : 20px;
}

#職業選擇 {
    width: 150px;
}

select {
    width    : 100px;
    font-size: 20px;
}

#主要表 table {
    text-align    : center;
    margin-left   : auto;
    margin-right  : auto;
    border-spacing: 0px;
    border        : 1px solid #333;
}

#主要表 table th,
#主要表 table td {
    font-size     : 20px;
    border        : 1px solid #333;
    padding-left  : 10px;
    padding-right : 10px;
    padding-top   : 2px;
    padding-bottom: 2px;
    white-space   : nowrap;
}

#主要表 table th {
    background-color: #fcc4ee;
}

.偶數行 td {
    background-color: #ffffff;
}

.奇數行 td {
    background-color: #bbe9eb;
}