table {
    margin-left : auto;
    margin-right: auto;
}

#職業選擇,
#主要表 {
    vertical-align: top;
    font-size     : 15px;
}

#職業選擇 {
    width: 150px;
}

#編輯選擇區 {
    font-size  : 20px;
    font-weight: bold;
    color      : #ff8000;
}

select {
    width    : 100px;
    font-size: 15px;
}

#職業選擇 .橘色 {
    background-color: #fcc4ee;
    border          : 1px solid #333;
    white-space     : nowrap;
}

#職業選擇 .小標題 {
    font-size  : 18px;
    font-weight: bold;
    color      : #0080ff;
}

#主要表 table {
    text-align    : center;
    margin-left   : auto;
    margin-right  : auto;
    border-spacing: 0px;
    border        : 1px solid #333;
}

#主要表 table th,
#主要表 table td {
    font-size     : 15px;
    border        : 1px solid #333;
    padding-left  : 5px;
    padding-right : 5px;
    padding-top   : 1px;
    padding-bottom: 1px;
    white-space   : nowrap;
}

#主要表 table th {
    background-color: #fcc4ee;
}

#主要表 table td div {
    padding    : 0px;
    overflow   : hidden;
    white-space: nowrap;
}

.偶數行 td {
    background-color: #ffffff;
}

.奇數行 td {
    background-color: #bbe9eb;
}